<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
        <% evento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :inicio_evento %>
    <%= form.time_select :inicio_evento %>
  </div>

  <div class="field">
    <%= form.label :final_evento %>
    <%= form.time_select :final_evento %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :lembrete %>
    <%= form.check_box :lembrete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
